.ipynb*
P_generosa/data/Pg_val_1_bismark_bt2_pe.deduplicated.bismark.covP_generosa/data/geoduck_transcriptome.fasta
P_generosa/data/geoduck_transcriptome.00.nhr
P_generosa/data/geoduck_transcriptome.00.nin
P_generosa/data/geoduck_transcriptome.00.nsq
P_generosa/data/geoduck_transcriptome.nhr
P_generosa/data/geoduck_transcriptome.nin
P_generosa/data/geoduck_transcriptome.nsq
P_generosa/data/Panopea-generosa-vv0.74.a4.5d9637f372b5d-publish.genes.fna
P_generosa/data/geoduck_transcriptome.fasta
P_generosa/analyses/Panopea-generosa-genes.fna
P_generosa/data/Pg_val_1_bismark_bt2_pe.deduplicated.bismark.cov
O_lurida/analyses/Olurida_v081.geneID.fa
O_lurida/analyses/Olurida_v081.gene.fa
O_lurida/data/Olurida_v081.fa
C_bairdi/analyses/C_bairdi_transcriptome_01
C_bairdi/data/20200408.C_bairdi.megan.Trinity.fasta
C_bairdi/data/cbai_transcriptome_v2.0.fasta
