.ipynb*
P_generosa/data/Pg_val_1_bismark_bt2_pe.deduplicated.bismark.cov
P_generosa/analyses/Panopea-generosa-genes.fna
P_generosa/data/Panopea-generosa-vv0.74.a4.5d9637f372b5d-publish.genes.fna
P_generosa/Panopea-generosa-genes.fna
